@font-face {
    font-family: "poping_light";
    src: url(font/poppins-1/Poppins-Light.otf);
  }
  @font-face {
    font-family: "poping_Bold";
    src: url(font/poppins-1/Poppins-Bold.otf);
  }
  @font-face {
    font-family: "poping_regular";
    src: url(font/poppins-1/Poppins-Regular.otf);
  }
  @font-face {
    font-family: "logo-font";
    src: url(font/BubbleBobble-rg3rx.ttf);
  }
  
body{
    padding:0;
    margin: 0;
    height:100%;
    background-image: linear-gradient(#7F7FD5,#86A8E7,#91EAE4);
    padding-bottom: 50px;

}
  
.card{
    margin-top:60px;
    max-width:65%;
    padding-left: 10%;
    padding-right:10%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-radius :30px;
    box-shadow: 0px 0px 25px 5px black;
    height:100%;
}
header{
    padding-top :30px;
}
.navbar,ul{
    display:flex;
    justify-content: space-between;
}
ul{
    list-style-type: none; 
}
.logo{
    text-align:initial
}
.menu{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.login{
    text-align: end;
}

li{
    padding-left: 30px;
    font-size: 15px;
    font-family: "poping_light";
    font-weight: 900;
    font-style: normal;
    padding-top: 5px;
    
}
li a{
    text-decoration: none;
    color: black;
}
li a:hover{
    color: red;
}
.login{
    padding-top: 10px;
}
button{
    font-family: "poping_light";
    border:none;
    background-color:rgb(255, 0, 0);
    border-radius: 20px;
    cursor: pointer;
    color:white;
    font-size: 17px;
}
.login button{
    padding:7px 32px;
}
button:hover{
    background-color:white;
    color:red;
    border:1px solid red;
}

.logo h1{
    font-family: "logo-font";
    font-size:40px;
    font-style: normal;
    font-weight: 800;
    line-height: 1px;
}

.hero{
    display: flex;
    text-align: initial;
}
.part-left,.part-right{
    max-width: 50%;
}
.part-right img{
    max-width: 100%;
}
.hero h1{
    font-family: "poping_Bold";
    font-size:60px;
    font-style: normal;
    font-weight:bolder;
    line-height: 60px;
}
.hero p{
    font-family: "poping_regular";
    font-size:16px;
    font-style: normal;
    font-weight:400;
    line-height: 25px;
}
.get-start{
   margin-top: 50px;
}
.get-start button{
    padding:9px 32px;
}


.sociel-media .fa {
    padding: 12px 0px;
    font-size: 24px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook,.fa-instagram,.fa-twitter{
    color: white;
  }

  .fa-facebook {
    background: #3B5998;
    margin-right: 20px;
  }
  .fa-twitter {
    background: #55ACEE;
  }
  .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); 
    margin-left: 20px;
  }
  .sociel-media{
      padding-bottom: 30px;
  }

  .camera,.cask,.curbe{
    position: absolute;
  }
  .camera,.curbe{
    width:10%;
    left:82%;
  }
  .camera{
      bottom:500px;
  }
  .curbe{
    bottom:50px;
}
  
  .cask img{
      width:45% ;
  }
  .cask{
    bottom:400px;
    right:80%;
}

@media only screen and (max-width: 1140px) {

    .hero h1{
        font-size:28px !important;
        line-height:40px;
        width: 300px;
    }
    .menu{
        position:absolute;
        visibility: hidden;
    }
    .logo,.login{
        width: 50%;
    }
    .curbe{
        bottom:140px;
    }
     
 }


 @media only screen and (max-width: 768px) {

    .hero{
        display:block;
        text-align:center;
    }
    .hero .part-left , .hero .part-right{
        max-width:100% !important;
        margin-left: auto;
        margin-right: auto;
    }
    .hero h1{
        width: auto !important;
    }
    .curbe{
        bottom: 200px;
        left: 70%;
    }
    .cask img{
        width:55% ;
    }

 }
 @media only screen and (max-width: 560px) {

    .navbar{
        display:block;
        text-align:center;
        padding-bottom: 50px;
    }
    .logo,.login{
        width: 100%;
    }
    .login,.logo{
        text-align:center;
    }
    .curbe{
        bottom: 70px;
        left: 70%;
    }
    .camera{
        left: 70%;
    }

 }